/* Coty McKinney SEI Assignment part 3 CSS file (Landing)*/

	body {
		background-image: url('../assets/helloThereStars.jpg');
		background-size: cover;
		background-color: rgba(0,0,0,1);
		font-family: 'Lobster', cursive;
		color: rgba(150,0,200,1);
	}

	.center-text {
		text-align: center;
		position: relative;
	}

	.verticalCenter {
		position: absolute;
		top: calc(75%);
		left: calc(42%);
		right: calc(50%);
		bottom: calc(-30%);
	}

	#enterText {
		font-family: 'Lobster', cursive;
		bottom: 30px;
	}

	#enter-button {
		background: rgba(0,255,0,1);
		border-radius: 12px;
		color: rgba(125,0,225,1);
		font-size: 50px;
		font-family: 'Anton', sans-serif;
		position: relative;
	}